body{
    background-color: rgb(119, 18, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frontendWrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(194, 178, 40);
    padding: 40px;
    background-color: rgb(119, 18, 4);
    width: 600px;
}
.frontendWrapper h1 {
    color: rgb(194, 178, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="birthdate"] {
    width: 588px;
}

input[type="submit"] {
    width: 600px;
    background-color: rgb(146, 139, 72);
    height: 40px;
    font-weight: bold;
    color: rgb(202, 17, 17);
    border-color: rgb(187, 184, 180);
}

input[type="checkbox"] {
    width: auto;
}

.titleRow {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 8px;
}

.returnRow {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

.bi-rocket-takeoff-fill{
    font-size: 60px;
    color: rgb(194, 178, 40);}

ul {
    color: rgb(194, 178, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

img {
    width: 600px;
}

h3 {
    color: rgb(194, 178, 40);
    background-color: rgb(185, 52, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

label {
    color: rgb(194, 178, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bi-envelope {
    font-size: 20px;
    color: rgb(194, 178, 40);
    margin-right: 10px;
}

select {
    padding: 5px;
    width: 300px;
}